{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Kart{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="product_id">product_id</label>
    <textarea name="product_id" id="product_id">{{ request.form['product_id'] }}</textarea>
    <input type="submit" value="Add to Kart">
  </form>
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Runway</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="../../static/script.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/index.css" media="screen"/>
</head>
<!--navbar starts here-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">SuperMarket</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="fav">Add to Cart</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Register</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<header>
	<body>
			<div class="container mt-4">
				<!--images in grid-->
				<div class="card text-center pb-2 mb-4">
					<div class="row">
						<div id="Mercedes-Benz"  class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Mercedes-Benz Class_A">
							<a class="thumbnail"  data-title="Honda city"
							data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							data-target="#image-gallery">
							<img class="img-thumbnail w3-animate-zoom"
							src="https://apollo-ireland.akamaized.net/v1/files/eyJmbiI6InRpMXBhOWQxb3E3eTItU1REVlRMUFQiLCJ3IjpbeyJmbiI6IjZtZ2p3bHA3a2dkYjItU1REVlRMUFQiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.yp8I5Gm-36Ciyt4HGx8iHdY79JsKJxlwlBolWu_--d0/image;s=1080x720;cars_;/121929887_;slot=1;filename=eyJmbiI6InRpMXBhOWQxb3E3eTItU1REVlRMUFQiLCJ3IjpbeyJmbiI6IjZtZ2p3bHA3a2dkYjItU1REVlRMUFQiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.yp8I5Gm-36Ciyt4HGx8iHdY79JsKJxlwlBolWu+--d0_rev001.jpg"
							alt="Another alt text">
						</a>

						<p id="car_make1" class="font-weight-bold"> </p>
						<p id="car_model1" class="font-weight-bold"> </p>
						<p><a class="thumbnail btn btn-info"
							data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
							data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model1')">Add to cart </a></p>
						</div>

						<div id="Mercedes-Benz" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Mercedes-Benz CLS_Class">
							<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
							data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							data-target="#image-gallery">
							<img class="img-thumbnail w3-animate-zoom"
							src="https://upload.wikimedia.org/wikipedia/commons/2/23/Mercedes-Benz_CLS_350d_IMG_0901.jpg"
							alt="Another alt text">
						</a>

						<p id="car_make2" class="font-weight-bold"> </p>
						<p id="car_model2" class="font-weight-bold"> </p>

						<p><a class="thumbnail btn btn-info"
							data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
							data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model2')">Add to cart </a></p>
						</div>
						<div id="Audi" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Audi A5">
							<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
							data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							data-target="#image-gallery">
							<img class="img-thumbnail w3-animate-zoom"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Audi_A5_3.0_TDI_Quattro_Sportback_2967cc_diesel_registered_April_2017.jpg/1280px-Audi_A5_3.0_TDI_Quattro_Sportback_2967cc_diesel_registered_April_2017.jpg"
							alt="Another alt text">
						</a>
						<p id="car_make3" class="font-weight-bold"> </p>
						<p id="car_model3" class="font-weight-bold"> </p>

						<p><a class="thumbnail btn btn-info"
							data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
							data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model3')">Add to cart </a></p>
						</div>
						<div id="Audi" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Audi A6">
							<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
							data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							data-target="#image-gallery">
							<img class="img-thumbnail w3-animate-zoom"
							src="https://upload.wikimedia.org/wikipedia/commons/6/61/Audi_A6_2018_%2844686505662%29.jpg"
							alt="Another alt text">
						</a>
						<p id="car_make4" class="font-weight-bold"> </p>
						<p id="car_model4" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model4')">Add to cart </a></p>
					</div>
					<div id="VOLKSWAGEN" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section VOLKSWAGEN Golf">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://s3.caradvice.com.au/wp-content/uploads/2017/06/2018_volkswagen_polo_27.jpg"
						alt="Another alt text">
					</a>
					<p id="car_make5" class="font-weight-bold"> </p>
					<p id="car_model5" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model5')">Add to cart </a></p>
					</div>
					<div id="VOLKSWAGEN" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section VOLKSWAGEN Polo">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://performancedrive.com.au/wp-content/uploads/2015/07/2015-Volkswagen-Polo-GTI-silver.jpg"
						alt="Another alt text">
					</a>
					<p id="car_make6" class="font-weight-bold"> </p>
					<p id="car_model6" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model6')">Add to cart </a></p>
					</div>
					<div id="TOYOTA" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section TOYOTA Supra">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://img.gta5-mods.com/q95/images/1998-toyota-supra-jza80-trd-varis-ridox-rhd/b83787-20180524235649_1.jpg"
						alt="Another alt text">
					</a>
					<p id="car_make7" class="font-weight-bold"> </p>
					<p id="car_model7" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model7')">Add to cart </a></p>
					</div>
					<div id="TOYOTA" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section TOYOTA Corolla">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://performancedrive.com.au/wp-content/uploads/2018/03/2019-Toyota-Corolla-two-tone-1280x886.jpg"
						alt="Another alt text">
					</a>

					<p id="car_make8" class="font-weight-bold"> </p>
					<p id="car_model8" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model8')">Add to cart </a></p>
					</div>
					<div id="HYUNDAI" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section HYUNDAI Accent">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/2014_Hyundai_Accent_%28RB2_MY14%29_Active_sedan_%282015-08-07%29_01.jpg/1200px-2014_Hyundai_Accent_%28RB2_MY14%29_Active_sedan_%282015-08-07%29_01.jpg	"
						alt="Another alt text">
					</a>
					<p id="car_make9" class="font-weight-bold"> </p>
					<p id="car_model9" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model9')">Add to cart </a></p>
					</div>
					<div id="HYUNDAI" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section HYUNDAI Elantra">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="http://www.blogcdn.com/www.autoblog.com/media/2012/07/02-2013-hyundai-elantra-coupe-fd.jpg"
						alt="Another alt text">
					</a>
					<p id="car_make10" class="font-weight-bold"> </p>
					<p id="car_model10" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model10')">Add to cart </a></p>
					</div>

					<div id="Mercedes-Benz" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Mercedes-Benz CLS_Class">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Audi_A5_Coup%C3%A9_S-Line_Phantomschwarz.JPG"
						alt="Another alt text">
					</a>
					<p id="car_make11" class="font-weight-bold"> </p>
					<p id="car_model11" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info" onclick="carfunction('car_model11')">Add to cart </a></p>
					</div>
					<div id="Mercedes-Benz" style="display:''" class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section Mercedes-Benz Class_A">
						<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Honda city"
						data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						data-target="#image-gallery">
						<img class="img-thumbnail w3-animate-zoom"
						src="https://apollo-ireland.akamaized.net/v1/files/eyJmbiI6InRpMXBhOWQxb3E3eTItU1REVlRMUFQiLCJ3IjpbeyJmbiI6IjZtZ2p3bHA3a2dkYjItU1REVlRMUFQiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.yp8I5Gm-36Ciyt4HGx8iHdY79JsKJxlwlBolWu_--d0/image;s=1080x720;cars_;/121929887_;slot=1;filename=eyJmbiI6InRpMXBhOWQxb3E3eTItU1REVlRMUFQiLCJ3IjpbeyJmbiI6IjZtZ2p3bHA3a2dkYjItU1REVlRMUFQiLCJzIjoiMTYiLCJwIjoiMTAsLTEwIiwiYSI6IjAifV19.yp8I5Gm-36Ciyt4HGx8iHdY79JsKJxlwlBolWu+--d0_rev001.jpg"
						alt="Another alt text">
					</a>
					<p id="car_make12" class="font-weight-bold"> </p>
					<p id="car_model12" class="font-weight-bold"> </p>

					<p><a class="thumbnail btn btn-info"
						data-image="https://image.shutterstock.com/image-photo/image-front-sports-car-scene-260nw-566330083.jpg"
						data-target="#image-gallery" class="btn btn-info"  onclick="carfunction('car_model12')">Add to cart </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

{% endblock %}
