{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My shopping kart{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('products.index') }}">Back to Shopping</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for kart_item in kart_items %}
    <article class="kart_items">
      <header>
          <div>
              <h1>{{ kart_item['product_id'] }}</h1>
              <h1>Brand:{{ kart_item['name'] }}</h1>
              <img class="img-thumbnail w3-animate-zoom" src="../../{{ kart_item['image'] }}" width="20%"/>
              <h2>Price:&euro;{{ kart_item['price'] }}</h2>
              <h3>{{ kart_item['description'] }}</h3>
              <br></br>
              <form action="{{ url_for('kart.delete', id=kart_item['id']) }}" method="post">
              <input type="submit" name="submit_button" value="Remove" /> 
            </form>
          </div>
      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}