{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My shopping kart{% endblock %}</h1>
  {% if g.user['user_id'] %}
    <a class="action" href="{{ url_for('products.index') }}">Back to Shopping</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% for kart_item in kart_items %}

    <article class="kart_items">
      {% if g.user['user_id'] == kart_item['user_id'] %}
      <header>
          
          <form action="{{ url_for('kart.delete', id=kart_item['id']) }}" method="post">
            <div class="container mt-4">                
            <div class="card text-center pb-2 mb-4">
              <div class="row">
                
               
              <img class="img-thumbnail w3-animate-zoom" src="../../{{ kart_item['image'] }}" width="20%"/>
            <div id="product"  class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section">
                 
              <h1>{{ kart_item['product_id'] }}</h1>
              <h1>Brand:{{ kart_item['name'] }}</h1>
              
              <h2>Price:&euro;{{ kart_item['price'] }}</h2>
              <h3>{{ kart_item['description'] }}</h3>

              
              <input type="submit" name="submit_button" value="Remove" class="btn-danger" /> 
              
            </form>
            {% endif %}
            </div>
        </div>
        </div>
          
      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}